@model IEnumerable<ePatria.Models.PermissionRoles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i> Role Permissions
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">

                                <a href="@Url.Action("Create")" class="btn green">Add New <i class="fa fa-plus"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="table-permissionrole">
                    <thead>
                        <tr>
                            <th>
                                Permission
                            </th>
                            <th>
                                Is Created
                            </th>
                            <th>
                                Is Read
                            </th>
                            <th>
                                Is Update
                            </th>
                            <th>
                                Is Delete
                            </th> 
                            <th>
                                Is First Submit
                            </th>
                            <th>
                                Is Second Submit
                            </th>
                            <th>
                                Is Approve
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "PermissionRoles", new { id = item.PermissionRoleID })"> @Html.DisplayFor(modelItem => item.Permissions.PermissionName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsCreate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsRead)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsUpdate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDelete)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsSubmit1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsSubmit2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsApprove)
                                </td>
                                <td>
                                    @HelperController.getRoleName(item.roleID)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id=item.PermissionRoleID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<!-- MODAL CREATE END -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.message != null)
    {
        <script>
            $(document).ready(function () {
                toastr.success("@ViewBag.message", "Success");
            });
        </script>
    }
}

<script>
    $(document).ready(function () {
        $("input:checked").wrap("<div class='checker disabled'><span class='checked'></span></div>")
        $("input:checkbox:not(:checked)").wrap("<div class='checker disabled'><span></span></div>")
        $('#table-permissionrole').DataTable({
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "/Content/assets/global/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                {
                    "sExtends": "xls",
                    "mColumns": [0, 1, 2, 3, 4, 5, 6, 7, 8],
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": "Role Permissions",
                    "sButtonText": "Export to excel",
                    "sFileName": "RolePermissions.xls"
                },
                ]
            }
        });
    });
</script>

<script>
    function getMonitoring(_noref, _findingtype, _duedate, _engname, _nosp, _status, _closedate, _thnaudit)
    {
        $.ajax({
            url: "getMonitoring",
            data: {
                noref: _noref,
                finding: _findingtype,
                duedate: _duedate,
                engname: _engname,
                nosp: _nosp,
                status: _status,
                closedate: _closedate,
                thnaudit: _thnaudit
            },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#table-monitoring').load("@ViewBag.Monitoring #table-monitoring");
                $('#table-monitoring').DataTable({ bRetrieve: true });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    $(function () {
        $('#nosp').autocomplete({
            source: '@Url.Action("SPAutocomplete")'
        });
        $('#engname').autocomplete({
            source: '@Url.Action("EngAutocomplete")'
        });
    });
</script>