@model ePatria.Models.RCMDetailRiskControl

@{  
    Layout = null;
}
@using Microsoft.AspNet.Identity;
@{ var checkPerm = HelperController.getPermissionRoleByPerm("Audit Query", User.Identity.GetUserId()); }
@{ var Perm = HelperController.getPermission(User.Identity.GetUserId(), "Audit Query");
    var isSuperAdmin = HelperController.isSuperAdmin(User.Identity.GetUserId());
}

@{ if (@Model != null)
{
    @Html.Hidden("RCMDetailRiskControlID")
    <div class="form-horizontal">
        @*<div class="form-group">
            @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBox("tanggal", null, new { @class = "form-control datepicker", @readonly = true })
            </div>
        </div>*@
        <div class="form-group">
            @Html.Label("Work Done Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextArea("wdd", ViewBag.controlDetail != null ? (string)ViewBag.controlDetail.WorkDoneDescription : "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Work Done Result", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextArea("wdr", ViewBag.controlDetail != null ? (string)ViewBag.controlDetail.WorkDoneResult : "", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Audit Query 
            </div>
            <div class="tools">
                @if (HelperController.IsMemberSp(ViewBag.idSp, User.Identity.Name) || isSuperAdmin)
                {
                <a href="#" class="btn-icon-only yellow-mint" data-toggle = "modal" data-target = "#addAuditQuery" onclick="javascript:activejs();"><i class="fa fa-plus"></i></a>
                }
            </div>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <table class="table table-striped table-hover table-bordered" id="table-auditquery">
                    <thead>
                        <tr>
                            <th>
                                Audit Query No
                            </th>
                            <th>
                                Judul
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in ViewBag.auditQuery)
                        {
                            <tr>
                                <td style="display:none"  >@item.AuditQueryID</td>
                                <td>
                                    @item.No 
                                </td>
                                <td>
                                    @item.Perihal
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                @if (HelperController.IsMemberSp(ViewBag.idSp, User.Identity.Name) || isSuperAdmin)
                                {
                                    if (item.Status == "Draft")
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "EditAuditQuery", new { id = item.AuditQueryID }, new { data_target = "#editAuditQuery" ,data_toggle="modal" , title="Edit Audit Query"}) |
                                            <a href="#" name=" Delete" title="Delete Audit Query"  id="delAuditQuery-@item.AuditQueryID" data-original-title="Are you sure to delete this Audit Query ?" onclick="javascript:delAuditQuery(@item.AuditQueryID)">Delete</a>|
                                            @Html.ActionLink("Preview", "Preview", new { id = @item.AuditQueryID })
                                       </td>
                                    } else {
                                        <td>
                                            @Html.ActionLink("Edit", "EditAuditQuery", new { id = item.AuditQueryID }, new { data_target = "#editAuditQuery" ,data_toggle="modal" , title="Edit Audit Query"}) |
                                            @Html.ActionLink("Preview", "Preview", new { id = @item.AuditQueryID })
                                        </td>
                                    }
                                }else
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "EditAuditQuery", new { id = item.AuditQueryID }, new { data_target = "#editAuditQuery" ,data_toggle="modal" , title="Edit Audit Query"}) |
                                        @Html.ActionLink("Preview", "Preview", new { id = @item.AuditQueryID })
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark" onclick="javascript:DelAuditNull();">Close</button>
        @if (ViewBag.controlDetail != null) {
            <button type="button" class="btn green" onclick="javascript:SaveControlDetail($('#controllist option:selected').val(), $('#wdd').val(), $('#wdr').val(), 'Update');">Update</button>
        } else {
            <button type="button" class="btn green" onclick="javascript:SaveControlDetail($('#controllist option:selected').val(), $('#wdd').val(), $('#wdr').val(), 'Create');">Save</button>
        }
    </div>
    <div id="editAuditQuery" class="modal fade" tabindex="-1" data-width="1000">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Edit Audit Query</h4>
        </div>
        <div class="modal-body"></div>
        
    </div>
    
    <div id="addAuditQuery" class="modal fade"  data-width="1000">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Add Audit Query</h4>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("No", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextBox("no", (string)ViewBag.auditQueryNo, new { @class = "form-control", @readonly = true})
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextBox("tanggal", null, new { @class = "form-control datepicker", @readonly = true })
                </div>
            </div>
            <div id="MembersGroup">
                <div class="form-group" id="memberdiv1">
                    @Html.Label("Kepada 1", htmlAttributes: new { @class = "control-label col-md-2", @id = "questionlabel#1" })
                    <div class="col-md-5">
                        <input name="kepada" id="member-1" class="form-control member" type="text" placeholder = "Auto Complete" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <a href="#" class="btn btn-sm green" id='addButton'><i class="fa fa-plus"></i>Add More Kepada</a>
                    <a href="#" class="btn btn-sm red" id='removeButton'><i class="fa fa-times"></i>Remove Kepada</a>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Dari", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextBox("dari", null, new { @class = "form-control", @placeholder = "Auto Complete" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Lampiran", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.TextArea("lampiran", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Perihal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextBox("perihal", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Pembuka", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextArea("pembuka", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Issue Desc", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextArea("issuedesc", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Criteria", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextArea("criteria", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Impact", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextArea("impact", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Auditee Clarification", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextArea("auditeeclar", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Penutup", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.TextArea("penutup", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Folder", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.DropDownList("foldername", new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Preparation", Value = "Preparation" },
                            new SelectListItem{ Text="Field Work", Value = "Field Work" },
                            new SelectListItem{ Text="Issue", Value = "Issue" },
                            new SelectListItem{ Text="Followup", Value = "Followup" }
                            }, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessage("Folder", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("File", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="files" id="file1" class="file1" multiple />
                    <label><small>*maksimal 4 Mb</small></label>
                    @*<div class="preview"></div>*@
                </div>
            </div>
        </div>
        <script>

            $(function () {
                $("input[name=files]").previewimage({
                    div: ".preview"
                });
            });
        </script>
        
        <div class="modal-footer">
            @if (Perm.Any(d => d.IsCreate))
            {
                if (Perm.Any(d => d.IsSubmit1))
                {
                    if (checkPerm.Contains("IsSubmit2"))
                    {
                        <button class="btn btn-primary" name="submit" type="submit" id="submit" onclick="javascript:cekFile('Pending for Review by @checkPerm.Split(':')[2].Split(';')[0]');"> Submit</button>
                    }
                    else if (checkPerm.Contains("IsApprove"))
                    {
                        <button class="btn btn-primary" name="submit" type="submit" id="submit" onclick="javascript:cekFile('Submit for Approve by @checkPerm.Split(':')[3].Split(';')[0]');"> Submit</button>
                    }
                }
                else
                {
                    <button class="btn btn-primary" name="submit" type="submit" id="submit" onclick="javascript:cekFile('Pending for Review by @checkPerm.Split(':')[1].Split(';')[0]');"> Submit</button>
                }
            }
            else if (Perm.Any(d => d.IsSubmit1))
            {
                if (checkPerm.Contains("IsSubmit2"))
                {
                    <button class="btn btn-primary" name="submit" type="submit" id="submit" onclick="javascript:cekFile('Pending for Review by @checkPerm.Split(':')[2].Split(';')[0]');"> Submit</button>
                }
                else if (checkPerm.Contains("IsApprove"))
                {
                    <button class="btn btn-primary" name="submit" type="submit" id="submit" onclick="javascript:cekFile('Pending for Approve by @checkPerm.Split(':')[3].Split(';')[0]');"> Submit</button>
                }
            }
            else if (Perm.Any(d => d.IsSubmit2))
            {
                if (checkPerm.Contains("IsApprove"))
                {
                    <button class="btn btn-primary" name="submit" type="submit" id="submit" onclick="javascript:cekFile('Pending for Approve by @checkPerm.Split(':')[3].Split(';')[0]');"> Submit</button>
                }
            }

            @*@if (checkPerm.Contains("IsSubmit1"))
            {
                <button type="submit" id="submit" name="submit" class="btn btn-outline green" onclick="javascript:cekFile('Pending for Review by @checkPerm.Split(':')[1].Split(';')[0]');">Submit</button>
            }
            else if (checkPerm.Contains("IsSubmit2"))
            {
                <button type="submit" id="submit" name="submit" class="btn btn-outline green" onclick="javascript:cekFile('Pending for Review by @checkPerm.Split(':')[2].Split(';')[0]');">Submit</button>
            }
            else if (checkPerm.Contains("IsApprove"))
            {
                <button type="submit" id="submit" name="submit" class="btn btn-outline green" onclick="javascript:cekFile('Pending for Approve by @checkPerm.Split(':')[3].Split(';')[0]');">Submit</button>
            }*@
            
            <button type="button" class="btn green" onclick="javascript:cekFile('Draft');">Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>        
    @*<button type="button" class="btn red" onclick="javascript:SaveControl($('#riskId option:selected').val(), $('#control').val());">Submit for Review</button>*@
        </div>
    </div>
} else
{
    <label>Please select a Control first</label>
}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    /*$(function () {
        $("#submit").click(function () {
            if (confirm("Are You Sure Want To Submit?")) {
                $('#submit').submit();
            } else {
                event.preventDefault();
            }
        });
    });*/
    function cekFile(_status) {
        var maksrequestfile = 4000000;
        var input = $('input[type = "file"]')[0];
        if (document.getElementById("file1").value != "") {
            var size = input.files[0].size;
            if (size > maksrequestfile)
            {
                alert("File melebihi 4 MB")
            }
            if (size <= maksrequestfile) {
                if (confirm("Are You Sure Want To Submit?")) {
                    SubmitAuditQuery($('#no').val(), $('#tanggal').val(), $('#dari').val(), CKEDITOR.instances.lampiran.getData(), $('#perihal').val(), $('#pembuka').val(), $('#issuedesc').val(), $('#criteria').val(), $('#impact').val(), $('#auditeeclar').val(), $('#penutup').val(), $('#foldername option:selected').val(), _status);
                }
                else {
                    event.preventDefault();
                }
            }
        }
        if (document.getElementById("file1").value == "") {
            if (confirm("Are You Sure Want To Submit?"))
            {
                SubmitAuditQuery($('#no').val(), $('#tanggal').val(), $('#dari').val(), CKEDITOR.instances.lampiran.getData(), $('#perihal').val(), $('#pembuka').val(), $('#issuedesc').val(), $('#criteria').val(), $('#impact').val(), $('#auditeeclar').val(), $('#penutup').val(), $('#foldername option:selected').val(), _status);
            }
            else
            {
                event.preventDefault();
            }
        }
    }
    var counter = 2;
    function activejs() {
        CKEDITOR.replace('lampiran');
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            showAnim: 'slideDown'
        });
        $.validator.addMethod("date",
            function (value, element) {
                return this.optional(element) !== null;
                // || parseDate(value, "dd/mm/yy") !== null;
            });
        $('.member').autocomplete({
            source: '@Url.Action("AuditQueryAutocomplete")',
            appendTo: $('#addAuditQuery'), change: function (event, ui) {
                if (!ui.item) {
                    $(this).val("");
                }
            }
        });
        $('#dari').autocomplete({
            source: '@Url.Action("AuditQueryAutocomplete")',
            appendTo: $('#addAuditQuery'), change: function (event, ui) {
                if (!ui.item) {
                    $(this).val("");
                }
            }
        });

        $("#addButton").click(function () {
            if (counter > 10) {
                alert("Maksimal 10 Member");
                return false;
            }
            var newTextBoxDiv = $(document.createElement('div'))
                 .attr("id", 'memberdiv' + counter).addClass("form-group");
            var html = '<label class = "control-label col-md-2">Kepada ' + counter + '</label>' +
                '<div class="col-md-5"><input name="member" id="member-' + counter +
                '" value="" class="form-control member" type="text" placeholder = "Auto Complete" >';

            newTextBoxDiv.after().html(html);
            newTextBoxDiv.appendTo("#MembersGroup");
            counter++;
            $('.member').autocomplete({
                source: '@Url.Action("AuditQueryAutocomplete")',
                appendTo: $("#addAuditQuery"), change: function (event, ui) {
                    if (!ui.item) {
                        $(this).val("");
                    }
                }
            });
        });
        $("#removeButton").click(function () {
            if (counter == 1) {
                alert("No more Member to remove");
                return false;
            }
            counter--;
            $("#memberdiv" + counter).remove();
        });

    }

    function SubmitAuditQuery(_no, _tanggal, _dari, _lampiran, _perihal, _pembuka, _issuedesc, _criteria, _impact,
_auditeeclar, _penutup, _folder, _status) {
        if ($("#tanggal").val() == "") {
            alert("Please Fill Tanggal.")
            return false;
        }
        if ($("#member-1").val() == "") {
            alert("Please Fill Kepada.")
            return false;
        }
        if ($("#dari").val() == "") {
            alert("Please Fill Dari.")
            return false;
        }
        if (CKEDITOR.instances.lampiran.getData() === '') {
            alert("Please Fill Lampiran.")
            return false;
        }
        if ($("#perihal").val() == "") {
            alert("Please Fill Perihal.")
            return false;
        }
        if ($("#pembuka").val() == "") {
            alert("Please Fill Pembuka.")
            return false;
        }
        if ($("#issuedesc").val() == "") {
            alert("Please Fill Issue Description.")
            return false;
        }
        if ($("#criteria").val() == "") {
            alert("Please Fill Criteria.")
            return false;
        }
        if ($("#impact").val() == "") {
            alert("Please Fill Impact.")
            return false;
        }
        //if ($("#auditeeclar").val() == "") {
        //    alert("Please Fill Audit Clarification.")
        //    return false;
        //}
        if ($("#penutup").val() == "") {
            alert("Please Fill Penutup.")
            return false;
        }
        if ($("#folder").val() == "") {
            alert("Please Fill Folder.")
            return false;
        }
        var _controlId = $("#RCMDetailRiskControlID").val();
        var no = parseInt(_no.split("/")[2]) + 1
        var newno = _no.split("/")[0] + "/" + _no.split("/")[1] + "/" + String(no);
        var _kepada = "";
        for (i = 1; i < counter; i++) {
                _kepada += $("#member-" + i).val() + ";"
        }
        
        $.ajax({
            url: "../SubmitAuditQuery/",
            data: {
                no: _no,
                tanggal: _tanggal,
                kepada: _kepada,
                dari: _dari,
                lampiran: _lampiran,
                perihal: _perihal,
                pembuka: _pembuka,
                issuedesc: _issuedesc,
                criteria: _criteria,
                impact: _impact,
                auditeeclar: _auditeeclar,
                penutup: _penutup,
                folder: _folder,
                controlId: _controlId,
                status: _status
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                for (var x = 0; x < data.length; x++) {
                    if (data[x].Text == "Draft")
                        markup += "<tr role='row' class='odd'><td style='display:none'>" + data[x].Value.split(";")[1] + "</td><td>" + data[x].Value.split(";")[0] + "</td><td>" + _perihal + "</td><td>" + data[x].Text + "</td><td><a data-target='#editAuditQuery' data-toggle='modal' title='Edit Audit Query' href='/FieldWorks/EditAuditQuery/" + data[x].Value.split(";")[1] + "'>Edit</a> | <a href='#' name=' Delete' title='Delete Audit Query' id=\"delAuditQuery-" + data[x].Value.split(";")[1] + "\" onclick='javascript:delAuditQuery(" + data[x].Value.split(";")[1] + ")' data-original-title='Are you sure to delete this Audit Query ?'>Delete</a> | <a href='/FieldWorks/Preview/" + data[x].Value.split(";")[1] + "'>Preview</a> </td></tr>"
                    else
                        markup += "<tr role='row' class='odd'><td style='display:none'>" + data[x].Value.split(";")[1] + "</td><td>" + data[x].Value.split(";")[0] + "</td><td>" + _perihal + "</td><td>" + data[x].Text + "</td><td><a data-target='#editAuditQuery' data-toggle='modal' title='Edit Audit Query' href='/FieldWorks/EditAuditQuery/" + data[x].Value.split(";")[1] + "'>Edit</a> | <a href='/FieldWorks/Preview/" + data[x].Value.split(";")[1] + "'>Preview</a> </td></tr>"
                }
                $("#table-auditquery tbody").html(markup).show();
                $('#addAuditQuery').modal('hide');
                $('#no').val(newno);
                fileUpload();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function delAuditQuery(id) {
        $('#delAuditQuery-'+ id).confirmation({
            onConfirm: function () { DeleteAuditQuery(id) },
            placement: 'top'
        });
        $('#delAuditQuery-' + id).confirmation('show');
    }
    function DeleteAuditQuery(_auditQueryId) {
        var _controlId = $("#RCMDetailRiskControlID").val();
        $.ajax({
            url: "../DeleteAuditQuery/",
            data: {
                auditQueryId: _auditQueryId,
                controlId: _controlId
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                for (var x = 0; x < data.length; x++) {
                    if (data[x].Text == "Draft")
                        markup += "<tr role='row' class='odd'><td style='display:none'>" + data[x].Value.split(";")[1] + "</td><td>" + data[x].Value.split(";")[0] + "</td><td>" + data[x].Text + "</td><td><a data-target='#editAuditQuery' data-toggle='modal' title='Edit Audit Query' href='/FieldWorks/EditAuditQuery/" + data[x].Value.split(";")[1] + "'>Edit</a> | <a href='#' name=' Delete' title='Delete Audit Query' id=\"delAuditQuery-" + data[x].Value.split(";")[1] + "\" onclick='javascript:delAuditQuery(" + data[x].Value.split(";")[1] + ")' data-original-title='Are you sure to delete this Audit Query ?'>Delete</a> | <a href='/FieldWorks/Preview/" + data[x].Value.split(";")[1] + "'>Preview</a> </td></tr>"
                    else
                        markup += "<tr role='row' class='odd'><td style='display:none'>" + data[x].Value.split(";")[1] + "</td><td>" + data[x].Value.split(";")[0] + "</td><td>" + data[x].Text + "</td><td><a data-target='#editAuditQuery' data-toggle='modal' title='Edit Audit Query' href='/FieldWorks/EditAuditQuery/" + data[x].Value.split(";")[1] + "'>Edit</a> | <a href='/FieldWorks/Preview/" + data[x].Value.split(";")[1] + "'>Preview</a> </td></tr>"
                }
                $("#table-auditquery tbody").html(markup).show();
                $('#addAuditQuery').modal('hide');
                fileUpload();
            },
            error: function (response) {
                alert("error : " + response);
            }
        });
        
    }

    function DelAuditNull() {
        $.ajax({
            url: "../DeleteAuditQueryNull/",
            data: {},
            cache: false,
            type: "POST",
            error: function (response) {
                alert("error : " + response);
            }
        });
        counter = 2;
        location.reload();
    }
    
    function fileUpload()
    {   
        var formData = new FormData();
        var fileInput = document.getElementById('file1');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formData.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../UploadFile/');
        xhr.send(formData);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
            }
        }
        return false;
    }

    
</script>
<style>
    .ui-datepicker {z-index:100000 !important;}
    .cke_dialog {z-index: 1000000 !important;}
    .cke_panel { z-index: 1000002 !important;}
</style>