@model ePatria.Models.FieldWork

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FieldWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LetterOfCommand.NomorSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterOfCommand.NomorSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskControlMatrix.Objectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskControlMatrix.Objectives)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FieldWorkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
