@model IEnumerable<ePatria.Models.BusinessProces>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i> Business Process
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">

                                @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-pertamina-green " })

                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="table-employee">
                    <thead>
                        <tr>
                            <th>
                                No Document
                            </th>
                            <th>
                                Name Document
                            </th>                            
                            <th>
                                Remarks
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentNo)
                                </td>
                                <td>
                                    @Html.DisplayName(item.DocumentName)
                                </td>
                                <td>
                                    @Html.DisplayName(item.Walktrough.Remarks)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.BusinessProcesID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.BusinessProcesID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.BusinessProcesID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table-employee').DataTable();
    });
</script>
<!-- MODAL CREATE END -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}