@model ePatria.Models.Organization
@{

}


@using (Html.BeginForm("CreateOrganizations", "Organizations", FormMethod.Post, new { id="orgform"}))
{      
            <h4>Organization</h4>
            <h4>&nbsp;</h4>
                <div class="error-container">
                    <ul></ul>
                </div>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.Hidden("OrganizationParentID")
                            @Html.ValidationMessageFor(model => model.OrganizationParentID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.TextArea("Description", new { @class = "form-control", @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" value="Save" class="btn blue" />
                        </div>
                    </div>
                </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#orgform").validate({
            errorLabelContainer: $("ul", $('div.error-container')),
            wrapper: 'li',
            rules: {
                Name: "required",
                Description: "required"
            },
            messages: {
                Name: "Please enter Organization Name",
                Description: "Please enter Organization Description"
            }
        });
    </script>
}
