@model ePatria.Models.Organization
@{
    ViewBag.Title = "Organization_Details";
}

@using Microsoft.AspNet.Identity;
@{ var perm = HelperController.getPermission(User.Identity.GetUserId(), "Master Data");
    var isSuperAdmin = HelperController.isSuperAdmin(User.Identity.GetUserId());
}
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i> Organization Details
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <table>
                        <tr>
                            <td class="padding5">
                                <b>Organization Parent&nbsp;&nbsp;</b>
                            </td>
                            <td class="padding5">
                                :&nbsp;&nbsp;
                            </td>
                            <td class="padding5">
                                 @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td class="padding5">
                                <b>Description</b>
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                @Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>
                       
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                @if (perm != null && perm.Any(q => q.IsUpdate == true) || isSuperAdmin)
                                {
                                    <a href="@Url.Action("Edit", new { @ViewBag.organization.OrganizationID })" class="btn blue">
                                        <i class="fa fa-edit"> Edit</i>
                                    </a>
                                }
                                @*<div class="modal fade" id="ModalEditOrganization" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">*@
                                            @*@using (Html.BeginForm("UpdateOrganization", "Organizations", "POST"))
                                            {
                                                @Html.ValidationSummary(true)

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="exampleModalLabel">Organization</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="form-horizontal">
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => model.OrganizationID)

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-4" })
                                                            <div class="col-md-6">
                                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>                                                       
                                                        <hr />
                                                        <div class="form-group">
                                                            <div class="col-md-2 pull-right">
                                                                <button type="submit" id="btnSave" name="Command" value="Save" class="btn btn-primary">
                                                                    <span class="ui-button-text">Save</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }*@
                                        @*</div>
                                    </div>
                                </div>*@

                               

                                <a href="@Url.Action("Index", "Organizations")" class="btn red">
                                    <i class="fa fa-arrow-circle-left"> Back</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


