@model IEnumerable<ePatria.Models.AnnualPlanning>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using Microsoft.AspNet.Identity;
@{  var Perm = HelperController.getPermission(User.Identity.GetUserId(), "Annual Planning");
  var isSuperAdmin = HelperController.isSuperAdmin(User.Identity.GetUserId());
}
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i> Annual Planning
                </div>
            </div>
            <div class="portlet-body">

                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            @if (Perm != null && Perm.Any(q => q.IsCreate == true || q.IsSubmit1 == true) || isSuperAdmin)
                            {
                                <div class="btn-group pull-right">
                                    <a href="@Url.Action("Create")" class="btn green">Add New <i class="fa fa-plus"></i></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="table-employee">
                    <thead>
                        <tr>
                            <th>
                                Audit Universe
                            </th>
                            <th>
                                Periode
                            </th>
                            <th>
                                Engagement
                            </th>
                            <th>
                                Tahun
                            </th>
                            <th>
                                Approval Status
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Activity.Name)
                                </td>
                                <td>
                                    @Html.DisplayName(item.Date_Start.HasValue ? item.Date_Start.Value.ToString("dd/MM/yyyy") : "-") - @Html.DisplayName(item.Date_End.HasValue ? item.Date_End.Value.ToString("dd/MM/yyyy") : "-")
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var engList in item.getEngagementActivityByActivityID(item.ActivityID))
                                        {
                                            <li>@engList.Name</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tahun)
                                </td>
                                <td>
                                    @if (item.Approval_Status != null)
                                    {

                                        @Html.DisplayName(item.Approval_Status)

                                    }
                                    else
                                    {
                                        @Html.DisplayName("Pending")
                                    }
                                </td>
                                @if (Perm != null && Perm.Any(q => q.IsUpdate == true) || isSuperAdmin)
                                {
                                    if (item.Approval_Status == "Draft" || item.Approval_Status == "Pending for Review by Planning Development")
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.AnnualPlanningID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.AnnualPlanningID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.AnnualPlanningID })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.AnnualPlanningID })
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.AnnualPlanningID })
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- MODAL CREATE END -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.message != null)
    {
        <script>
            $(document).ready(function () {
                toastr.success("@ViewBag.message", "Success");
            });
        </script>
    }
}

<script>
    $(document).ready(function () {
        $('#table-employee').DataTable({
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "/Content/assets/global/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                {
                    "sExtends": "xls",
                    "mColumns": [0, 1, 2, 3, 4],
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": "Annual Planning",
                    "sButtonText": "Export to Excell",
                    "sFileName": "AnnualPlanning.xls"
                },
                ]
            }
        });
    });
</script>

@*<button class="btn dropdown-toggle" data-toggle="dropdown">
        Tools <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="javascript:;">
                Print
            </a>
        </li>
        <li>
            <a href="javascript:;">
                Save as PDF
            </a>
        </li>
        <li>
            <a href="javascript:;">
                Export to Excel
            </a>
        </li>
    </ul>*@