@model IEnumerable<ePatria.Models.ConsultingReporting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i> Consulting Reporting
                </div>
            </div>
            <div class="portlet-body">
                
                <table class="table table-striped table-hover table-bordered" id="table-employee">
                    <thead>
                        <tr>
                            <th>
                                No. Laporan
                            </th>
                            <th>
                                No. SP
                            </th>
                            <th>
                                Activity Name
                            </th>
                            <th>
                                Engagement Name
                            </th>
                            <th>
                                Periode
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "ConsultingReportings", new { id = item.ConsultingReportingID })"> @Html.DisplayFor(modelItem => item.NoLaporan)</a>
                                </td>
                                <td>
                                    @Html.DisplayName(item.ConsultingLetterOfCommand.NomorSP)
                                </td>
                                <td>
                                    @Html.DisplayName(item.ConsultingLetterOfCommand.ConsultingRequest.ActivityStr)
                                </td>
                                <td>
                                    @Html.DisplayName(item.ConsultingLetterOfCommand.EngagementName)
                                </td>
                                <td>
                                    @Html.DisplayName(item.ConsultingLetterOfCommand.StartDate.ToString()) - @Html.DisplayName(item.ConsultingLetterOfCommand.EndDate.ToString())
                                </td>
                                <td>
                                    @Html.DisplayName(item.ConsultingLetterOfCommand.Remarks)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- MODAL CREATE END -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.message != null)
    {
    <script>
        $(document).ready(function () {
            toastr.success("@ViewBag.message", "Success");
        });
    </script>
    }
}
<script>
    $(document).ready(function () {
        $('#table-employee').DataTable({
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "/Content/assets/global/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                {
                    "sExtends": "xls",
                    "mColumns": [0, 1, 2, 3, 4],
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": "Consulting Reporting",
                    "sButtonText": "Export to excel",
                    "sFileName": "ConsultingReporting.xls"
                },
                ]
            }
        });
    });
</script>