@model ePatria.Models.LetterOfCommand

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@using Microsoft.AspNet.Identity;
@{ var checkPerm = HelperController.getPermissionRoleByPerm("Surat Perintah", User.Identity.GetUserId()); }
@{ var Perm = HelperController.getPermission(User.Identity.GetUserId(), "Surat Perintah"); }
@{ var empName = HelperController.getNameByUserName(User.Identity.Name);
    var isSuperAdmin = HelperController.isSuperAdmin(User.Identity.GetUserId());
}
<div>
    <h4>Letter Of Command</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">No. APM</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@ViewBag.NomerAPM" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nomer SP</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.NomorSP" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Activity</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.Activity.Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Waktu Pelaksanaan</label>
            <div class="col-md-2">
                <input class="form-control input-sm" readonly value="@Model.Date_Start.ToShortDateString()" />
            </div>
            <div class="col-md-2">
                <input class="form-control input-sm" readonly value="@Model.Date_End.ToShortDateString()" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Assurance Type</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.AssuranceType" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Responsible Person</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@ViewBag.PICIDName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Supervisor</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@ViewBag.SupervisorName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Team Leader</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@ViewBag.TeamLeaderName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Member</label>
            <div class="col-md-4">
                @{var m = 0;}
                @foreach (var member in ViewBag.Member.Split(';'))
                {
                    m++;
                    string mem = ViewBag.Member;
                    if (m < mem.Split(';').Count())
                    {
                        <li>@Html.Raw(member)</li>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Dasar</label>
            <div class="col-md-4">
                @{var x = 0;}
                @foreach (var dasar in ViewBag.Dasar.Split(';'))
                {
                    x++;
                    string ds = ViewBag.Dasar;
                    if (x < ds.Split(';').Count())
                    {
                        <li>@Html.Raw(dasar)</li>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Menimbang</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.Menimbang" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Untuk</label>
            <div class="col-md-4">
                @{var y = 0;}
                @foreach (var untuk in ViewBag.Untuk.Split(';'))
                {
                    y++;
                    string uk = ViewBag.Untuk;
                    if (y < uk.Split(';').Count())
                    {
                        <li>@Html.Raw(untuk)</li>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Penutup</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.Penutup" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tembusan</label>
            <div class="col-md-4">
                @{var z = 0;}
                @foreach (var tembusan in ViewBag.Tembusan.Split(';'))
                {
                    z++;
                    string ts = ViewBag.Tembusan;
                    if (z < ts.Split(';').Count())
                    {
                        <li>@Html.Raw(tembusan)</li>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Status</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.Status" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Remarks</label>
            <div class="col-md-4">
                <input class="form-control input-sm" readonly value="@Model.Remarks" />
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@using (Html.BeginForm("Update","LetterOfCommands", "POST"))
{
@Html.AntiForgeryToken()

    <div class="hidden">
        <h4>LetterOfCommand</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LetterOfCommandID)
        @Html.HiddenFor(model => model.Status)
        @Html.EditorFor(model => model.AuditPlanningMemorandumID)
        @Html.EditorFor(model => model.NomorSP, new { htmlAttributes = new { @class = "form-control" } })
        @Html.Editor("ActivityID")
        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
        @Html.TextBoxFor(model => model.Date_Start, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = true })
        @Html.TextBoxFor(model => model.Date_End, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @readonly = true })
        @Html.Editor("AssuranceType")
        @Html.EditorFor(model => model.PICID)
        @Html.EditorFor(model => model.SupervisorID)
        @Html.EditorFor(model => model.TeamLeaderID)
        @Html.EditorFor(model => model.MemberID)
        @Html.Editor("Dasar", new { htmlAttributes = new { @class = "form-control" } })
        @Html.EditorFor(model => model.Menimbang, new { htmlAttributes = new { @class = "form-control" } })
        @Html.Editor("Untuk", new { htmlAttributes = new { @class = "form-control" } })
        @Html.EditorFor(model => model.Penutup, new { htmlAttributes = new { @class = "form-control" } })
        @Html.Editor("Tembusan", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @*if (checkPerm.Contains("IsSubmit1"))
    {
        if (Perm != null && Perm.Any(q => q.IsSubmit1 == true) || isSuperAdmin)
        {
            if (Model.Status == "Pending for Review by " + checkPerm.Split(':')[1].Split(';')[0])
            {
                if (checkPerm.Split(':')[1].Split(';')[0] == "Member")
                {
                    if (Model.MemberID != null)
                    {
                        if (Model.MemberID.Contains(empName) || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                }
                if (checkPerm.Split(':')[1].Split(';')[0] == "Ketua Tim")
                {
                    if (Model.TeamLeaderID != null)
                    {
                        if (Model.TeamLeaderID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                }
                if (checkPerm.Split(':')[1].Split(';')[0] == "Pengawas")
                {
                    if (Model.SupervisorID != null)
                    {
                        if (Model.SupervisorID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                }
                if (checkPerm.Split(':')[1].Split(';')[0] == "CIA")
                {
                    if (Model.PICID != null)
                    {
                        if (Model.PICID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                }
            }
        }
    }
    if (checkPerm.Contains("IsSubmit2"))
    {
        if (Perm != null && Perm.Any(q => q.IsSubmit2 == true) || isSuperAdmin)
        {
            if (Model.Status == "Pending for Review by " + checkPerm.Split(':')[2].Split(';')[0])
            {
                if (checkPerm.Split(':')[2].Split(';')[0] == "Member")
                {
                    if (Model.MemberID != null)
                    {
                        if (Model.MemberID.Contains(empName) || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
                if (checkPerm.Split(':')[2].Split(';')[0] == "Ketua Tim")
                {
                    if (Model.TeamLeaderID != null)
                    {
                        if (Model.TeamLeaderID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
                if (checkPerm.Split(':')[2].Split(';')[0] == "Pengawas")
                {
                    if (Model.SupervisorID != null)
                    {
                        if (Model.SupervisorID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
                if (checkPerm.Split(':')[2].Split(';')[0] == "CIA")
                {
                    if (Model.PICID != null)
                    {
                        if (Model.PICID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    } else {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0]) {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
            }
        }
    }
    if (checkPerm.Contains("IsApprove"))
    {
        if (Perm != null && Perm.Any(q => q.IsApprove == true) || isSuperAdmin)
        {
            if (Model.Status == "Pending for Approve by " + checkPerm.Split(':')[3].Split(';')[0])
            {
                if (checkPerm.Split(':')[3].Split(';')[0] == "Member")
                {
                    if (Model.MemberID != null)
                    {
                        if (Model.MemberID.Contains(empName) || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    } else {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
                if (checkPerm.Split(':')[3].Split(';')[0] == "Ketua Tim")
                {
                    if (Model.TeamLeaderID != null)
                    {
                        if (Model.TeamLeaderID == empName || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    } else {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
                if (checkPerm.Split(':')[3].Split(';')[0] == "Pengawas")
                {
                    if (Model.SupervisorID != null)
                    {
                        if (Model.SupervisorID == empName || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    } else {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
                if (checkPerm.Split(':')[3].Split(';')[0] == "CIA")
                {
                    if (Model.PICID != null)
                    {
                        if (Model.PICID == empName || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    } else {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
            }
        }
    }
}*@
    if (checkPerm.Contains("IsSubmit1"))
    {
        if (Perm != null && Perm.Any(q => q.IsSubmit1 == true) || isSuperAdmin)
        {
            if (Model.Status == "Pending for Review by " + checkPerm.Split(':')[1].Split(';')[0])
            {
                if (checkPerm.Split(':')[1].Split(';')[0] == "Member")
                {
                    if (Model.MemberID != null)
                    {
                        if (Model.MemberID.Contains(empName) || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                    }
                }
                if (checkPerm.Split(':')[1].Split(';')[0] == "Ketua Tim")
                {
                    if (Model.TeamLeaderID != null)
                    {
                        if (Model.TeamLeaderID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                    }
                }
                if (checkPerm.Split(':')[1].Split(';')[0] == "Pengawas")
                {
                    if (Model.SupervisorID != null)
                    {
                        if (Model.SupervisorID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                    }
                }
                if (checkPerm.Split(':')[1].Split(';')[0] == "CIA")
                {
                    if (Model.PICID != null)
                    {
                        if (Model.PICID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsSubmit2"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                            else if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsSubmit2"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Review By @checkPerm.Split(':')[2].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                        else if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />*@
                        }
                    }
                }
            }
        }
    }
    if (checkPerm.Contains("IsSubmit2"))
    {
        if (Perm != null && Perm.Any(q => q.IsSubmit2 == true) || isSuperAdmin)
        {
            if (Model.Status == "Pending for Review by " + checkPerm.Split(':')[2].Split(';')[0])
            {
                if (checkPerm.Split(':')[2].Split(';')[0] == "Member")
                {
                    if (Model.MemberID != null)
                    {
                        if (Model.MemberID.Contains(empName) || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                                {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
                if (checkPerm.Split(':')[2].Split(';')[0] == "Ketua Tim")
                {
                    if (Model.TeamLeaderID != null)
                    {
                        if (Model.TeamLeaderID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                                {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
                if (checkPerm.Split(':')[2].Split(';')[0] == "Pengawas")
                {
                    if (Model.SupervisorID != null)
                    {
                        if (Model.SupervisorID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                                {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
                if (checkPerm.Split(':')[2].Split(';')[0] == "CIA")
                {
                    if (Model.PICID != null)
                    {
                        if (Model.PICID == empName || isSuperAdmin)
                        {
                            if (checkPerm.Contains("IsApprove"))
                            {
                                <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                                @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                                if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                                {
                                    <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                                }
                            }
                        }
                    }
                    else
                    {
                        if (checkPerm.Contains("IsApprove"))
                        {
                            <button class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]">Submit</button>
                            @*<input class="btn btn-primary" name="submit" type="submit" id="submit" value="Submit For Approve By @checkPerm.Split(':')[3].Split(';')[0]" />*@
                            if (checkPerm.Split(':')[1].Split(';')[0] != checkPerm.Split(':')[2].Split(';')[0])
                            {
                                <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                            }
                        }
                    }
                }
            }
        }
    }
    if (checkPerm.Contains("IsApprove"))
    {
        if (Perm != null && Perm.Any(q => q.IsApprove == true) || isSuperAdmin)
        {
            if (Model.Status == "Pending for Approve by " + checkPerm.Split(':')[3].Split(';')[0])
            {
                if (checkPerm.Split(':')[3].Split(';')[0] == "Member")
                {
                    if (Model.MemberID != null)
                    {
                        if (Model.MemberID.Contains(empName) || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                    else
                    {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
                if (checkPerm.Split(':')[3].Split(';')[0] == "Ketua Tim")
                {
                    if (Model.TeamLeaderID != null)
                    {
                        if (Model.TeamLeaderID == empName || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                    else
                    {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
                if (checkPerm.Split(':')[3].Split(';')[0] == "Pengawas")
                {
                    if (Model.SupervisorID != null)
                    {
                        if (Model.SupervisorID == empName || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                    else
                    {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
                if (checkPerm.Split(':')[3].Split(';')[0] == "CIA")
                {
                    if (Model.PICID != null)
                    {
                        if (Model.PICID == empName || isSuperAdmin)
                        {
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                            <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                        }
                    }
                    else
                    {
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Approve" />
                        <input class="btn btn-primary" name="submit" type="submit" id="submit" value="Send Back" />
                    }
                }
            }
        }
    }
}
<h2>Review Notes</h2>

@*<div class="col-md-6">
    <div class="input-group">*@
<div class="publishContainer">
    <textarea class="msgTextArea" id="txtMessage" data-bind="value: newMessage, jqAutoresize: {}" style="height:3em;" placeholder="Write your comment..."></textarea>
    <div class="btn-group ">
        <button class="btn btn-primary btn-lg" data-url="/Wall/SavePost" value="Comment" id="btnShare" data-bind="click: addPost">Comment</button>
        <input type="hidden" data-bind="value: apmId" class="apmId" value="@Model.LetterOfCommandID" />
        @{
            int apmId = Model.LetterOfCommandID;
        }
        <script>
            localStorage.apmId = 'letter' + '@apmId';
        </script>
    </div>
</div>
<ul id="msgHolder" data-bind="foreach: posts">
    <li class="postHolder">
        <img data-bind="attr: { src: '../../Content/assets/global/img/avatar3_small.jpg' }"><a data-bind="text: PostedByName"></a>: <span data-bind="html: Message"></span>
        <div class="postFooter">
            <span class="timeago" data-bind="text: PostedDate"></span>&nbsp;<a class="linkComment" href="#" data-bind="click: toggleComment">Reply</a>
            <div class="commentSection">
                <ul data-bind="foreach: PostComments">
                    <li class="commentHolder">
                        <img data-bind="attr: { src: '../../Content/assets/global/img/avatar3_small.jpg' }"><a data-bind="text: CommentedByName"></a>: <span data-bind="    html: Message"></span>
                        <div class="commentFooter"> <span class="timeago" data-bind="text: CommentedDate"></span>&nbsp;</div>
                    </li>
                </ul>
                <div style="display: block" class="publishComment">
                    <textarea class="commentTextArea" data-bind="value: newCommentMessage, jqAutoresize: {}" placeholder="Write your reply..."></textarea>
                    <input type="button" value="Reply" class="btn blue" data-bind="click: addComment" />
                </div>
            </div>
        </div>
    </li>
</ul>
@*</div>
    </div>*@

@section scripts{
    <script src="~/Scripts/jquery.autosize-min.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/wallpost.js"></script>

}

<style>
    .msgTextArea {
        width: 100%;
        height: 80px;
        border-radius: 7px;
    }

    .commentTextArea {
        width: 93%;
        border-radius: 7px;
        height: 40px;
    }

    .publishContainer {
        width: 65%;
        text-align: right;
        background-color: #F2F2F2;
        border-color: #B4BBCD;
        border-image: none;
        border-style: solid;
        border-width: 1px;
        padding: 1em 1.2em;
        margin-bottom: 2em;
    }

    .publishComment {
        text-align: right;
        width: 100%;
        display: none;
    }

    #msgHolder {
        width: 65%;
    }

        #msgHolder img {
            float: left;
            margin-right: 7px;
        }

        #msgHolder a {
            text-decoration: none;
            color: #015BA7;
        }

            #msgHolder a:hover {
                text-decoration: underline;
            }

    .postHolder {
        padding: 5px;
        border-bottom: solid 1px #E6E6E6;
        margin: 5px;
        list-style: none;
    }

        .postHolder p {
            margin: 4px auto 7px 50px;
        }

        .postHolder a {
            font-weight: bold;
        }

    .postFooter {
        font-size: 0.85em;
        margin-left: 55px;
    }

        .postFooter span {
            color: #7D7D84;
        }

        .postFooter a {
            font-weight: normal;
        }

    .commentHolder {
        clear: both;
        background-color: #EEF1F6;
        padding: 5px;
        border-bottom: 1px solid #DEE5EA;
        border-top: 1px solid white;
        list-style: none;
    }

    #btnShare, .btnComment, .btnRequest, .btn {
        background-color: #5B74A8;
        border: 0 none;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        margin-right: 10px;
        padding: 5px;
        text-align: center;
      
    }

    aside {
        float: right;
        width: 30%;
        font-size: 0.85em;
    }

        aside > div, #myConnections {
            border: solid 2px #3B5998;
            border-radius: 7px;
            float: left;
            width: 99%;
            margin-bottom: 5px;
        }

            aside h3, #myConnections h3 {
                background-color: #3B5998;
                color: White;
                margin: 0px;
                padding: 3px;
                font-size: 0.95em;
            }

            aside a, #myConnections a {
                text-decoration: none;
                color: #015BA7;
                font-weight: bold;
            }

                aside a:hover, #myConnections a:hover {
                    text-decoration: underline;
                }

            aside img, #myConnections img {
                float: left;
                margin-right: 7px;
            }

    .useritem {
        border-bottom: 1px solid #DEE5EA;
        clear: both;
        overflow: auto;
        padding: 3px;
    }

        .useritem p {
            margin: 4px auto 7px 55px;
        }

    .btnRequest, .btn {
        margin-top: 7px;
    }

    #myConnections {
        margin: 15px;
        width: 60%;
        font-size: 0.85em;
    }
</style>
<style>
.dl-horizontal dt{
    text-align: left;
    width: 160px;
}

.dl-horizontal dd{
    margin-left: 0;
}
</style>
